.parallax {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &__images,
  img {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    position: relative;
    top: calc(((100vh - 51.54vw) / 4) * -2)
  }
}