// Меню для сайта
&__mobile {
  background: #1a1a1a;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  opacity: 0;
  height: 0;
  @include transition(0.9, ease);

  &.js-list {
    height: auto!important;
  }
  // Кнопка открытия полного меню
  &__button {
    display: none;
    float: right;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    right: 10px;
    top: 33px;
    height: 16px;
    width: 23px;

    @include media(sm) {
       display: inline-block;
    }
    & svg {
      position: relative;
      top: -5px;
      display: block;
      width: 26px;
      height: 26px;
      fill: #fff;
    }
    & span {
      display: none;
      margin-bottom: 5px;
      position: absolute;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: #FFFFFF;
      @include transition(.3,'');

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2n){
        top: 7px;
      }
      &:nth-child(3n){
        top: 14px;
      }
    }
    &.active{
      svg {
        display: none;
      }
      span {
        display: block;
      }
      span:nth-child(1) {
        top: 7px;
        @include transform(rotate(45deg));
      }
      span:nth-child(2n){
        opacity: 0;
        width: 0;
        height: 0;
      }
      span:nth-child(3n){
        top: 8px;
        @include transform(rotate(-45deg));
      }
    }
  }
}

// При активации присваивается этот класс для body
@at-root .js-core-mobile-open {}
@at-root .js-core-mobile-open .core__mobile {
  opacity: 1;
  height: 145px;
}
@at-root .js-core-mobile-open .header__logo {
  z-index: 2;
  top: 0;
  @include media(md){
    top: -32px!important;
    z-index: 0;
  }
}
@at-root .js-core-mobile-open  .header {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
}