// Иконки для сайта
&__icon {
  display: inline-block;
  font: normal normal normal 14px/1 $font-icon;
  text-align: center;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: middle;
  width: 20px;
  font-size: 16px;

  @include hover{
    color: inherit;
  }

  &_like {
    &:before {
      content: "\ea2b";
    }

  }
}