&__btn {
  padding: 9px 18px;
  line-height: 1.35em;
  border-radius: 2px;

  background-color: $color-primary;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  @include transition( .15, ease-in-out);

  @each $name, $color in $status {
    $class: '_';
    @if($name == '') {  $class: ''; } @else {}

    &#{$class}#{$name}{
      background-color: #{nth($color,1)};
      border-color: #{nth($color,1)};

      @include hover {
        background-color: #{nth($color,2)};
        border-color: #{nth($color,2)};
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
        color: #fff;
      }
    }
  }
  & span {
    color: #fff;
  }
}